*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3A4E5B;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6; }

a {
color: #F4976C;
text-decoration: none;
-webkit-transition: all .3s ease;
transition: all .3s ease; 
font-size: 1.0rem;
font-weight: bold;
}

h1 {
  font-size: 1.75rem;
  text-align:center;
}

body {
  margin: 20px 0;
  background: #303C6C;
}

p {
  font-size: ;
}

button {
  display: block;
  font-size: 1rem;
  background: #FBE8A6;
  border: 1px solid #FBE8A6;
  border-radius: 5px;
  padding: 5px 5px;
  color: #303C6C;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
   }
  .button:hover, .button:focus {
    background: #FBE8A6;
    border: 1px solid #FBE8A6; }

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-bottom: 20px;
}

.card,
.back,
.front {
  height: 400px;
  width: 300px;
  border-radius: 15px;
  align-items: center;
}

.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  background: #B4DFE5;
  border: 5px solid #D2FDFF;
  padding: 20px;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #B4DFE5;
  border: 5px solid #B4DFE5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
}

.selected {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/*justify*/
.textbox {display:flex; flex-flow:row wrap;}

.alignleft {
width:50%;
text-align:left;
margin: 0px;
}
.alignright {
width:50%;
text-align:right;
margin: 0px;
}

.alignleft3 {
width:33.33333%;
text-align:left;
margin: 0px;
}
.aligncenter3 {
width:33.33333%;
text-align:center;
margin: 0px;
}
.alignright3 {
width:33.33333%;
text-align:right;
margin: 0px;
}

.alignleft4 {
width:25%;
text-align:center;
}
.alignmidleft4 {
width:25%;
text-align:center;
}
.alignmidright4 {
width:25%;
text-align:center;
}
.alignright4 {
width:25%;
text-align:center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*navigation*/
.d_top_padding {
  padding:2em;
}
.nav_background {
  background-color: #F4976C;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1;
}
.d_nav { 
}
.grid_nav {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid_nav > div{
  color: white;
  text-align: center;
  margin: auto;
}
.nav_logo{
  margin: 10px auto 20px;
  height: 20px;
  vertical-align: middle;
  display: block;
}
.nav_logo_medium{
  margin: 10px auto 20px;
  height: 25px;
  vertical-align: middle;
  display: block;
}
#d_logo {
  grid-row: 1 / span 2;
}
#d_logo a {
  color: white;
}
.nav_titles {
  font-size:0.7em;
}
.nav_titles a {
  color: #3A4E5B;
}
.splash_logo{
  margin: auto;
  height: 120px;
  vertical-align: middle;
}

/*centerdiv*/

.external {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FBE8A6;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.internal {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: center;
}